**/migrations/*
*.sqlite3
*.log
/opal_deployment_config.yaml
/.gitignore
/.idea/
/opal/.env
!**/migrations/__init__.py
/real_data/
.DS_Store
/htmlcov/
/.coverage
Dockerfile
Dockerfile.dev
opal_deployment_config.yaml
readme.md
SECURITY.md
license.md
