*.sqlite3
*.log
/.gitignore
/.idea/
/opal/.env
/real_data/
.DS_Store
/htmlcov/
/.coverage
Dockerfile
readme.md
SECURITY.md
license.md
pytest*
/venv
/docs
/.github
/.pytest_cache
/requirements_test.txt
/requirements_omb.txt
