/.idea/
/.pytest_cache/
/htmlcov/
/real_data/
/venv/
/.coverage
*.sqlite3
*.log
/.github/
/docs/docker-compose/data/db/
/docs/k8/secrets.yaml
/opal/.env
*/~$*
pytest.ini

/saml/certs/private.key
/saml/certs/public.crt
/static/
/media/
/opal/env.*


**/__pycache__/

/build/env_settings/*
/build/opal/omb_values.yaml
/build/opal/values.yaml
/build/helm_output.yaml
/build/opal.yaml
/build/opal-0.2.1.tgz
/build/opal-0.2.2.tgz
/build/opal-0.2.3.tgz
/build/opal-0.2.4.tgz
