/.idea/
/.pytest_cache/
/htmlcov/
/real_data/
/venv/
/.coverage
*.sqlite3
*.log
/.github/
/docs/docker-compose/data/db/
/docs/k8/secrets.yaml
/opal/.env
*/~$*
pytest.ini
*/__pycache__/*

/saml/certs/private.key
/saml/certs/public.crt
/static/
/media/
