Django
django-environ
django-bootstrap-v5
xmltodict
django-nested-inline
django_extensions
# POSTGRES Support
psycopg2
#async process support
pyrabbit
celery
celery_progress
# SAML Support
git+https://github.com/cs4p/django-saml-sp.git
python3-saml
cryptography
#
# # OIDC Support
# # mozilla-django-oidc
django-extra-views
django-require-login
django-treenode
django-ckeditor

