{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>OPAL</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'ssp/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'ssp/css/simple-sidebar.css' %}" rel="stylesheet">

    <!-- OPAL custom styles -->
    <link href="{% static 'ssp/css/stylesheet.css' %}" rel="stylesheet">
</head>

<body>

<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" style="width: 20%" id="sidebar-wrapper">
        <img class="img-responsive" src="{% static 'ssp/images/red_fire_opal.gif' %}" alt="OPAL Image" height="100"
             width="100"><b>OPAL</b>
        <hr>
        <div class="sidebar-heading">Navigation</div>
        <div class="list-group list-group-flush">
            <a class="nav-link" href="{% url 'ssp:list_system_security_planView' %}">System Security Plans</a>
            <a class="nav-link" href="{% url 'ssp:system_control_list_view' %}">System Controls</a>
            <a class="nav-link" href="{% url 'ssp:import_catalog' %}">Import NIST Catalog</a>
            <a class="nav-link" href="{% url 'ssp:attachment_list_view' %}">Document Library</a>
            <a class="nav-link" href="{% url 'ssp:link_list_view' %}">Link Library</a>
            <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
            {% block sidebar %}{% endblock %}
            {% block import-dropdown-menu %}{% endblock %}
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom floating">
            <div>
                <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>

                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div></div>
            {% block dropdown %}{% endblock %}
        </nav>

        <div class="container-fluid">
            {% block content %}{% endblock %}
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Bootstrap core JavaScript -->
<script src="{% static 'ssp/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'ssp/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>

</body>

</html>
