{% extends "base.html" %}
{% load static %}
{% block content %}
<form method="post" novalidate>
  {% csrf_token %}

  {{ form.non_field_errors }}

  {% for hidden_field in form.hidden_fields %}
    {{ hidden_field.errors }}
    {{ hidden_field }}
  {% endfor %}
<h2>Component Metadata</h2>
  <table border="1">
    {% for field in form.visible_fields %}
      <tr>
        <th>{{ field.label_tag }}</th>
        <td>
          {{ field.errors }}
          {{ field }}<br>
          {{ field.help_text }}
        </td>
      </tr>
    {% endfor %}
  </table>
  <button type="submit">Submit</button>
</form>
{% endblock %}