{% extends "base.html" %}
{% load static %}
{% block content %}
<form method="post" action="/component/requirement/new/{{ control_id }}">
  {% csrf_token %}
<h1>How is the control implemented...</h1>
<hr>
{% if success %}
    {{ success }}
    <HR>
    <h2>Implemented Requirement Description</h2>
    {{ new_implemented_requirement | safe }}
{% else %}
<span style="color: red; font-weight: bold">{{ form.non_field_errors }}</span>
Select the Component that impliments this control: <select id="component_list" name="component">
    {% for k,v in component_list %}
        <option value="{{ k }}">{{ v }}</option>
    {% endfor %}
</select>
<hr>
{{ control | safe }}
<hr>


<p style="padding-top: 15px"; align="center"><button type="submit">Submit</button></p>

</form>
    {% endif %}
{% endblock %}