{% load static %}
{% block content %}
<table style="alignment: center; border-style: solid; width: 90%; margin-bottom: 10px ">
    <tr>
        <td colspan="2">
		<p><b>{{ object.label }}&nbsp;{{ object.control_title }}</b>
		<a href="{% url 'ssp:add_control' ssp=ssp_id nist_control_to_add=object.id %}">Create</a></p>
            <p>
                <b>Statement:</b><br>
                {{ object.get_statement | safe }}
            </p>
            <p>
                <b>Guidance:</b><br>
                {{ object.get_guidance | safe }}
            </p>

        </td>
    </tr>
</table>
<p></p>
{% endblock %}
