{% extends "base.html" %}
{% block content %}
{% load admin_urls %}
{% load system_control_view %}
<h1>{{ object.title }}</h1>
<hr>
<table>
    <tr style="padding: 10px">
        <td style="padding-right: 10px; border-right-style: solid; border-right-width: 1px"><b>System Status</b>: {{ object.system_characteristics.system_status }}</td>
        <td style="padding: 10px"><b>Version</b>: {{ object.version }}</td>
        <td style="padding-left: 10px; border-left-style: solid; border-left-width: 1px"><b>Last Modified</b>: {{ object.lastModified }}</td>
    </tr>
</table>


<p>Table of Contents</p>
<ol>
    <li><a href="#system_description">System Description</a></li>
    <li><a href="#system_diagrams">System Diagrams</a></li>
    <li><a href="#system_components">System Components</a></li>
        <ol>
        {% for component in object.system_components.all %}
            <li><a href="#system_component:{{ component.id }}">{{ component.title }} ({{ component.component_type }})</a></li>
        {% endfor %}
        </ol>
    <li><a href="#system_controls">System Controls</a></li>
</ol>

<h2>{{ object.system_characteristics.title }} ({{ object.system_characteristics.short_name}})</h2>
    <h3><a id="system_description"></a><a href="{% url 'admin:ssp_system_characteristic_change' object.system_characteristics.id %}" target="_blank">System Description</a></h3>
    <div style="margin-left: 30px">{{ object.system_characteristics.desc | safe }}</div>
<h3><a id="system_diagrams">System Diagrams</a></h3>
    <ul>
        <li><b>Authorization Boundary Diagram: </b>{{ object.system_characteristics.authorization_boundary_diagram.attachment.url }}
        <li><b>Network Architecture Diagram: </b>{{ object.system_characteristics.network_architecture_diagram.attachment.url }}
        <li><b>Data Flow Diagram: </b>{{ object.system_characteristics.data_flow_diagram.attachment.url }}
    </ul>
<h3><a id="system_components">System Components</a></h3>
    {% for component in object.system_components.all %}
        <h4 style="margin-left: 15px"><a id="system_component:{{ component.id }}">
            <a href="{% url 'admin:ssp_system_component_change' component.id%} %}" target="_blank">{{ component.title }} ({{ component.component_type }})</a></a></h4>
            <div style="margin-left: 30px">{{ component.desc | safe }}</div>
    {% endfor %}
<h3><a id="system_controls">System Controls</a></h3>
    {% for c in object.selected_controls %}
        {%  for i in c.get_control_implementation %}
        <table style="alignment: center; border-style: solid; width: 90%; margin-bottom: 10px ">
            <tr>
                <td colspan="2">
                    <p style="background-color: #9fcdff; color: white">
                        {% if not i.id.exists %}
                            <a href="{% url 'admin:ssp_system_control_add' %}" target="_blank"><b>{{ i.nist_control }}</b></a>
                        {% else %}
                            <a href="{% url 'admin:ssp_system_control_change' i.id %}" target="_blank"><b>{{ i.nist_control }}</b></a>
                        {% endif %}
                        <b>&nbsp;&nbsp;|&nbsp;&nbsp;Status:</b> {{ i.control_status }}<b>&nbsp;&nbsp;|&nbsp;&nbsp;</b>
                        <b>Control Origination:</b> {{ i.control_origination }}
                    </p>
                    <p><b>Statement:</b><br>
                        {{ i.nist_control.get_statement | safe }}</p>
                    <p><b>Guidance:</b><br>
                        {{ i.nist_control.get_guidance | safe }}</p>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <table>
                        <tr>
                            <td valign="top"><b>Parameters:</b></td>
                            <td>
                                {% for p in i.control_implementation.control_parameters.all %}
                                    <a href="{% url 'admin:ssp_control_parameter_change' p.id %}">{{ p.control_parameter_id }}</a>: <i>{{ p.value }}</i><br>
                                {% endfor %}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td valign="top" colspan="2">
                    <table>
                        <tr>
                            <td valign="top"><b>Roles:</b></td>
                            <td>
                                {% for r in i.control_implementation.control_responsible_roles.all %}
                                    {{ r.title }}<br>
                                {% endfor %}
                            <td>
                            </td>
                        </tr>
                    </table>
            </tr>
        </table>

        <table style="alignment: center; border-style: solid; width: 90% ">
            <tr>
                <td colspan="2"><b>How is the control implemented?</b></td>
            </tr>
            {% for s in i.control_implementation.control_statements.all %}
                <tr>
                    <td valign="top" width="60"><a href="{% url 'admin:ssp_control_statement_change' s.id %} "
                                                   target="_blank">{{ s.control_statement_id }}</a></td>
                    <td>{{ s.control_statement_text | safe }}</td>
                </tr>
            {% endfor %}
        </table>
        <p></p>
        <p></p>
    {% endfor %}
{% endblock %}