{% extends "base.html" %}
{% block content %}
    <br>
    <h1>New System User</h1>
    <br>
    Please choose a person for this role.
    <br>
    <br>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors}}
        {% for field in form %}
            <div class="fieldWrapper">
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
            </div>
            <br>
        {% endfor %}
        <br>
        <input type="submit" value="Submit" class="submit" name="submit" />
        <br>
        <br>
        {% if messages %}
            <ul class="messages">
            {% for message in messages %}
                <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
            {% endfor %}
            </ul>
        {% endif %}
    </form>

{% endblock %}

