{% extends "base.html" %}
{% load static %}
{% block content %}
<h1>System Controls</h1>
    <form method="get">
	    <p>
	    <label for="id_control_status">Control status:</label>
	    <input id="id_control_status" type="text" placeholder="Control Status..." name="control_status">
	    </p><p>
	    <label for="nist-control-group-title">Nist control group title:</label>
	    <input type="text" placeholder="Nist control group title..." name="nist-control-group-title">
	    </p><p>
	    <label for="control_primary_system">Control Primary System:</label>
	    <input id="control_primary_system" type="text" placeholder="Control Primary System..." name="control_primary_system" >
	    </p> 
        <button type="submit">Filter</button>
    </form>
<script src="{% static 'ssp/vendor/auto-complete.js' %}"></script>

<script>
var demo1 = new autoComplete({
            selector: '#id_control_status',
            minChars: 1,
            source: function(term, suggest){
                term = term.toLowerCase();
                //var choices = ['Implemented', 'Partially Implemented', 'Planned', 'Alternative Implementation', 'Not Applicable', 'Other than Implemented'];
		var choices = {{ choices | safe }};
		var suggestions = [];
                for (i=0;i<choices.length;i++)
                    if (~choices[i].toLowerCase().indexOf(term)) suggestions.push(choices[i]);
                suggest(suggestions);
            }
    });


var demo2 = new autoComplete({
            selector: '#control_primary_system',
            minChars: 1,
            source: function(term, suggest){
                term = term.toLowerCase();
                //var choices = ['OMB Baseline(omb-base)', 'OMB Private Cloud (opc)', 'MAX.gov Shared Services (MAX.gov)', 'Slack (Slack)', 'ScheduleOnce ()', 'Zoom for Government (ZoomGov)', 'Mural.co (mural)'];
		var choices = {{ systems | safe}}
		var suggestions = [];
                for (i=0;i<choices.length;i++)
                    if (~choices[i].toLowerCase().indexOf(term)) suggestions.push(choices[i]);
                suggest(suggestions);
            }
    });
</script>



    <table style="vertical-align: top; border-style: solid;" >
        <tr style="alignment: center">
            <th style="border-style: solid;">System</th>
            <th style="border-style: solid;">Text</th>
            <th style="border-style: solid;">Last Updated</th>
            <th style="border-style: solid;">Actions</th>
        </tr>
        {% if system_control_list %}
            {% for control in system_control_list %}
                <tr style="border-bottom-style: solid;">
                    <td style="border-left-style: solid; border-right-style: solid; vertical-align: top">{{ control.control_primary_system }}</td>
                    <td  style="border-left-style: solid; border-right-style: solid">
                        <table>
				<tr><td colspan="2">{{ control.nist_control_text}} </td></tr>
                            <tr><td colspan="2" bgcolor="#483d8b" height="8px"></td></tr>
                            {% for p in control.control_parameters.all %}
                                <tr>
                                    <td nowrap><a href="{% url 'admin:ssp_control_parameter_change' p.id %}" target="_blank">{{ p.control_parameter_id }}</a></td>
                                    <td><i>{{ p.value | safe }}</i></td>
                                </tr>
                            {% endfor %}
                            <tr><td colspan="2" bgcolor="#483d8b" height="8px"></td></tr>
                            {% for s in control.sorted_statement_set.all %}
                                <tr>
                                    <td nowrap><a href="{% url 'admin:ssp_control_statement_change' s.id %} " target="_blank">{{ s.control_statement_id | safe }}</a></td>
                                    <td>{{ s.control_statement_text | safe }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </td>
                    <td style="vertical-align: top" nowrap>{{ control.updated_at }}</td>
                    <td style="vertical-align: top; alignment: right;"><a href="{% url 'admin:ssp_system_control_change' control.id %}" target="_blank">Edit</a></td>
                </tr>
            {% endfor %}
    </table>
{% else %}
    <p>No controls are available.</p>
{% endif %}
{% endblock %}

