{% block content %}
<table style="alignment: center; border-style: solid; width: 90%; margin-bottom: 10px ">
    <tr>
        <td colspan="2">
            <p>
                <a href="{% url 'admin:ssp_system_control_change' object.id %}"
                   target="_blank"><b>{{ object.nist_control.label }}&nbsp;
                    {{ object.nist_control.control_title }}</b></a>
                <b>&nbsp;&nbsp;|&nbsp;&nbsp;Status:</b> {{ object.control_status }}<b>&nbsp;&nbsp;|&nbsp;&nbsp;</b>
                <b>Control Origination:</b> {{ object.control_origination }}
            </p>
            <p><b>Statement:</b><br>
                {{ object.nist_control.get_statement | safe }}</p>
            <p><b>Guidance:</b><br>
                {{ object.nist_control.get_guidance | safe }}</p>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <table>
                <tr>
                    <td valign="top"><b>Parameters:</b></td>
                    <td>
                        {% for p in object.control_implementation.control_parameters.all %}
                            <a href="{% url 'admin:ssp_control_parameter_change' p.id %}">{{ p.control_parameter_id }}</a>: <i>{{ p.value }}</i><br>
                        {% endfor %}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td valign="top" colspan="2">
            <table>
                <tr>
                    <td valign="top"><b>Roles:</b></td>
                    <td>
                        {% for r in object.control_implementation.control_responsible_roles.all %}
                            {{ r.title }}<br>
                        {% endfor %}
                    <td>
                    </td>
                </tr>
            </table>
    </tr>
</table>

<table style="alignment: center; border-style: solid; width: 90% ">
    <tr>
        <td colspan="2"><b>How is the control implemented?</b></td>
    </tr>
    {% for s in object.control_implementation.control_statements.all %}
        <tr>
            <td valign="top" width="60"><a href="{% url 'admin:ssp_control_statement_change' s.id %} "
                                           target="_blank">{{ s.control_statement_id }}</a></td>
            <td>{{ s.control_statement_text | safe }}</td>
        </tr>
    {% endfor %}
</table>
<p></p>
{% endblock %}