{% extends "base.html" %}
{% block sidebar %}
{% endblock %}
{% block dropdown %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div style="float: right; width: 100%">
        <li class="nav-item dropdown" style="float: right; list-style-type: none">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Page Contents
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <ul style="list-style-type: upper-roman">
                    <li class="nav-item"><a class="nav-link" href="#system_description">System Description</a></li>
                    <li class="nav-item"><a class="nav-link" href="#system_diagrams">System Diagrams</a></li>
                    <li class="nav-item"><a class="nav-link" href="#system_personnel">System Personnel</a></li>
                    <li class="nav-item"><a class="nav-link" href="#authorization_status">Authorization Status</a></li>
                    <li class="nav-item"><a class="nav-link" href="#system_status">System Status</a></li>
                    <li class="nav-item"><a class="nav-link" href="#fisma_security_objectives">FISMA Security Objectives</a></li>
                    <li class="nav-item"><a class="nav-link" href="#information_types">System Information Types</a></li>
                    <div class="dropdown-divider"></div>
                    <li class="nav-item"><a class="nav-link" href="#system_components">System Components</a></li>
                    <ul style="list-style-type: decimal">
                        {% for component in object.system_components.all %}
                            <li class="nav-item">
                                <a class="nav-link" href="#system_component:{{ component.id }}">
                                    {{ component.title }}({{ component.component_type }})
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="dropdown-divider"></div>
                    <li class="nav-item"><a class="nav-link" href="#system_controls">System Controls</a></li>
                    <ul style="list-style-type: decimal">
                        {% for control in object.controlFamilies %}
                            <li class="nav-item">
                                <a class="nav-link" href="#control:{{ control.id }}">{{ control.nist_control.control_title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </ul>
                <div class="dropdown-divider"></div>
            </div>
        </li>
    </div>
{% endblock %}
{% block content %}
    {% load admin_urls %}
    <h1>{{ object.title }} </h1>
    <hr>
    <h2><a href="{% url 'admin:ssp_system_security_plan_change' object.id %}" target="_blank">{{ object.title }} ({{ object.short_name}})</a></h2>
        <h3><a id="system_description">System Description</a></h3>
        <div style="margin-left: 30px">{{ object.desc | safe }}</div>
    <h3><a id="system_diagrams">System Diagrams</a></h3>
        <ul>
		<li><b>Authorization Boundary Diagram: </b><br>
                <img src="{{ object.authorization_boundary_diagram.attachment.url }}" class="img-fluid">
		<li><b>Network Architecture Diagram: </b><br>
                <img src="{{ object.network_architecture_diagram.attachment.url }}" class="img-fluid">
		<li><b>Data Flow Diagram: </b><br>
                <img src="{{ object.data_flow_diagram.attachment.url }}" class="img-fluid">
        </ul>
    <h3><a id="system_personnel">System Personnel</a></h3>
        <ul>
            <li>Organizational Unit: {{ object.organizational_unit }}</li>
            <li>Authorizing Official: {{ object.get_authorizing_official | safe }}</li>
            <li>System Owner: {{ object.get_system_owner | safe }}</li>
            <li>Information System Security Officer: {{ object.get_information_system_security_officer | safe }}</li>
            <li>Information System Security Manager: {{ object.get_information_system_security_manager | safe }}</li>
        </ul>
    <h3><a id="authorization_status">Authorization Status</a></h3>
    <ul>
        <li>Authorization Date: {{ object.date_authorized | date:'d M Y' }}</li>
        <li>Authorization Decision: {{ object.system_status }}</li>
        <li>Authorization Revocation Date: {{ object.authorization_revocation_date | date:'d M Y' }}</li>
        <li>Authorization Revocation Reason: {{ object.authorization_revocation_reason  }}</li>
    </ul>
    <h3><a id="system_status">System Status</a></h3>
    <table>
        <tr style="padding: 10px">
            <td style="padding: 10px"><b>System Status</b>: {{ object.system_characteristics.system_status }}</td>
            <td style="padding: 10px"><b>SSP Version</b>: {{ object.version }}</td>
            <td style="padding: 10px"><b>SSP Last Modified</b>: {{ object.lastModified }}</td>
        </tr>
    </table>
    <br>
    <h3><a id="fisma_security_objectives">FISMA Security Objectives</a></h3>
        <table>
            <tr style="padding: 10px">
                <td style="padding: 10px"><b>Security Objective Confidentiality: </b>: {{ object.security_objective_confidentiality }}</td>
                <td style="padding: 10px"><b>Security Objective Integrity: </b>: {{ object.security_objective_integrity }}</td>
                <td style="padding: 10px"><b>Security Objective Availability: </b>: {{ object.security_objective_availability }}</td>
            </tr>
        </table>
    <br>
    <h3><a id="information_types">System Information Types</a></h3>
        <table border="2" cellpadding="3">
            <tr>
                <th>Information Type </th>
                <th>NIST 800-60 identifier</th>
                <th>Confidentiality</th>
                <th>Integrity</th>
                <th>Availability</th>
            </tr>
        {% for info_type in object.information_types.all %}
            <tr>
                <td><a href="{% url 'admin:ssp_information_type_change' info_type.id %}" target="_blank">{{ info_type.title }}</a></td>
                <td>{{ info_type.short_name }}</td>
                <td>{{ info_type.confidentialityImpact }}</td>
                <td>{{ info_type.integrityImpact }}</td>
                <td>{{ info_type.availabilityImpact }}</td>
            </tr>
        {% endfor %}
        </table>
    <h3><a id="system_components">System Components</a></h3>
        {% for component in object.system_components.all %}
            <h4 style="margin-left: 15px">
                <a href="{% url 'admin:ssp_system_component_change' component.id %}" target="_blank">{{ component.title }} ({{ component.component_type }})</a></a></h4>
                <div style="margin-left: 30px">{{ component.desc | safe }}</div>
        {% endfor %}
    <h3><a id="system_controls">System Controls</a></h3>
        {% for c in object.controls.all %}
            {% with c as object %}
                <a id="control:{{ c.id }}">
                {% include "ssp/system_control_detail.html" %}
            {% endwith %}
            <p></p>
        {% endfor %}
{% endblock %}
