{% load static %}
{% block content %}
<table style="alignment: center; border-style: solid; width: 90%; margin-bottom: 10px ">
    <tr>
        <td colspan="2">
            <p>
                <a href="{% url 'admin:ssp_system_control_change' object.id %}" target="_blank">
                    <b>{{ object.nist_control.label }}&nbsp;{{ object.nist_control.control_title }}</b>
                </a>
                {% if object.control_primary_system.id != ssp_id %}
                    (<a href="{% url 'ssp:clone_control' ssp=ssp_id control=object.id %}" target="_blank">clone</a>)
                {% endif %}
                <b>&nbsp;&nbsp;|&nbsp;&nbsp;Status:</b> {{ object.control_status }}
                <b>&nbsp;&nbsp;|&nbsp;&nbsp;</b>
                <b>Control Origination:</b> {{ object.control_origination }}
            </p>
            <p>
                <b>Statement:</b><br>
                {{ object.nist_control.get_statement | safe }}
            </p>
            <p>
                <b>Guidance:</b><br>
                {{ object.nist_control.get_guidance | safe }}
            </p>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <table style="width: 100%">
                <tr>
                    <td class="td-row-header" valign="top">Parameters:</td>
                    <td class="td-content">
                        <table>
                        {% for p in object.control_parameters.all %}
                            <tr><td>
                                <div style="white-space: nowrap">
                                <a href="{% url 'admin:ssp_control_parameter_change' p.id %}" target="_blank">
                                    {{ p.control_parameter_id }}
                                </a>:
                                </div>
                            </td>
                                <td><i>{{ p.value | safe }}</i></td>
                            </tr>
                        {% endfor %}
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="td-row-header">Roles:</td>
                    <td class="td-content">
                        {% for r in object.control_responsible_roles.all %}
                            {{ r.title | safe }}<br>
                        {% endfor %}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<table style="alignment: center; border-style: solid; width: 90% ">
    <tr>
        <td colspan="2"><b>How is the control implemented?</b></td>
    </tr>
    {% for s in object.sorted_statement_set.all %}
        <tr>
            <td class="td-row-header"><a href="{% url 'admin:ssp_control_statement_change' s.id %} "
                                           target="_blank"><span style="white-space: nowrap">{{ s.control_statement_id | safe }}</span></a></td>
            <td class="td-content">
                {{ s.control_statement_text | safe }}
                <p>
                {% for l in s.links.all %}
                        <li><a href="{{ l.href }}" target="_blank">{{ l.text }}</a></li>
                {% endfor %}
                </p>
            </td>
        </tr>
    {% endfor %}
	<tr>
	   <td colspan="2">
	      <p><form action="/admin/ssp/test_evidence/add"><button type="submit">New Test Evidence</button></form></p>
 	   </td>
	</tr>
</table>
{% for e in object.test_evidence_set.all %}
{% include "ssp/test_evidence_detail.html" with object=e %}
{% endfor %}

{% endblock %}
