{% load static %}
{% block content %}
<table style="alignment: center; border-style: solid; width: 90%; margin-bottom: 10px">
    <tr>
        <td colspan="2">
            <p>
	    	<h4>{{ object.title }}</h4>
            </p>
	</td>
    </tr>
    <tr>
	<td>
		<p><strong>Description</strong></p>
	</td>
	<td>
	    <p>{{ object.desc | safe }}</p>
	</td>
    </tr>
    <tr>
	<td>
		<p><strong>Type</strong></p>
	</td>
	<td>
	    <p>{{ object.type }}</p>
	</td>
    </tr>
    <tr>
	<td>
		<p><strong>Testing Conditions</strong></p>
	</td>
	<td>
		<p>{% if object.type == "splunk_report" %}
			<a href="{{ object.testing_conditions }}">{{ object.testing_conditions }}</a>
		{% else %}
			{{ object.testing_conditions }}
		{% endif %}
		</p>
	</td>
    </tr>
    <tr>
	<td>
		<p><strong>Testing Results</strong></p>
	</td>
	<td>
	    <p><ul>
	    {% for result in object.results.all %}
	    <li><a href="{{ result.attachment.url }}">{{ result }}</a></li>
	    {% endfor %}
	    </ul></p>
	    <p><form action="/admin/ssp/test_evidence/{{ object.id }}/change/"><button type="submit">New Attachment</button></form></p>
	</td>
    <tr>
	<td>
		<p><strong>Controls<strong></p>
	</td>
	<td>
	    <p><ul>
	    {% for control in object.controls.all %}
	    <li>{{ control }}</li>
	    {% endfor %}
	    </ul></p>
        </td>
    </tr>
</table>
<p></p>
{% endblock %}

