{% extends "base.html" %}
{% load static %}
{% block content %}
<table style="alignment: center; border-style: solid; width: 90%; margin-bottom: 10px ">
    <tr>
        <td colspan="2">
            <p>
                <h1>{{ object }}</h1>
            </p>
	    <p><h2>Type</h2></p>
	    <p>{{ object.type }}</p>
	    <p><h2>Testing Conditions</h2></p>
	    <p><a href="{{ object.testing_conditions }}">{{ object.testing_conditions }}</a></p>
	    <p><h2>Testing Results</h2></p>
	    <p><ul>
	    {% for result in object.results.all %}
	    <li><a href="{{ result.attachment.url }}">{{ result }}</a></li>
	    {% endfor %}
	    </ul></p>
	    <p><form action="/admin/ssp/test_evidence/{{ object.id }}/change/"><button type="submit">New Attachment</button></form></p>
	    <p><h2>Controls</h2></p>
	    <p><ul>
	    {% for control in object.controls.all %}
	    <li>{{ control }}</li>
	    {% endfor %}
	    </ul></p>
        </td>
    </tr>
</table>
<p></p>
{% endblock %}

