{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container mt-4">
    <form method="post">
        {% csrf_token %}
        <div class="card">
            <div class="card-header">
                <h4>Create Component</h4>
            </div>
            <div class="card-body">
                {{ form.non_form_errors }}
                {{ form.as_p }}
                <h5 class="text-info">Add Control Implementations</h5>
                {{ control_implementation_formset.non_form_errors }}
                {{ control_implementation_formset.management_form }}
                {% for form in control_implementation_formset %}
                <div class="d-flex py-1 inline {{ control_implementation_formset.prefix }}">
                    <div>{{form.name.label}}: {{ form.name }}</div>
                    <div class="ml-4">{{form.value.label}}: {{ form.value }}</div>
                    {% if control_implementation_formset.can_delete %}
                        <div class="ml-4">{{ form.DELETE }} {{ form.DELETE.label }}</div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="mt-3 mb-5">
            <button type="submit" class="px-5 btn btn-info">Submit</button>
        </div>
    </form>
</div>
{% endblock %}