{% extends "base.html" %}
{% load static %}
{% block content %}

  <h1>Component Details</h1>
    <div>Here we will describe how our component will meet the requirements for a number of controls. Start by selecting one or more controls from the drop down below and then slect the specific statements that you are addressing.
        Then enter text describing how the component meets the selected requirements.</div>
<hr>
<form method="post" action="{% url 'component:create_component_statement'  %}" id="requirementsForm"
      data-controls-url="{% url 'catalog:ajax_load_controls' %}"
      data-stmts-url="{%  url 'catalog:ajax_load_statements' %}"
      data-params-url="{% url 'catalog:ajax_load_params' %}" novalidate>
    {% csrf_token %}
    <table class="table-bordered">
        {{ ctrl_form.as_table }}
    </table>
    <br>
    <div id="id_params"></div>

    <hr>
    <table class="table-active">
        {{ comp_form.as_table }}
    </table>
    <button type="submit">Save</button>
</form>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
</script>
  <script>
    $("#id_catalog").change(function () {
      var url = $("#requirementsForm").attr("data-controls-url");  // get the url of the view
      var catalogId = $(this).val();  // get the selected catalog ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-controls/)
        data: {
          'catalog': catalogId       // add the catalog id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load-controls` view function
          $("#id_controls").html(data);  // replace the contents of the controls input with the data that came from the server
        }
      });

    });

    $("#id_controls").change(function () {
      var url = $("#requirementsForm").attr("data-stmts-url");  // get the url of the view
      var param_url = $("#requirementsForm").attr("data-params-url");  // get the url of the view
      var controlId = $(this).val();  // get the selected catalog ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-controls/)
        data: {
          'control': controlId       // add the control id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load-controls` view function
          $("#id_statements").html(data);  // replace the contents of the controls input with the data that came from the server
        }
      });

      $.ajax({                       // initialize an AJAX request
        url: param_url,                    // set the url of the request (= localhost:8000/hr/ajax/load-controls/)
        data: {
          'control': controlId       // add the control id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load-controls` view function
          $("#id_params").html(data);  // replace the contents of the controls input with the data that came from the server
        }
      })
    });
  </script>

{% endblock %}