{% extends "base.html" %}
{% load static %}
{% block content %}
    <h1>{{ title }}</h1>
    <div>{{ content | safe }}</div>
    <div>
    {% if form_list %}
        {% for form in form_list %}
            <form method="post" novalidate class="form-floating" action="{{ form.action }}">
            {% include "generic_form_helper.html" with form=form %}
            <p class="button" style="padding-top: 15px"; ><button type="submit">Submit</button></p>
            </form>

        {% endfor %}
    {% else %}
        <form method="post" novalidate class="form-floating" action="{{ form.action }}">
        {% include "generic_form_helper.html" with form=form %}
        <p class="button" style="padding-top: 15px"; ><button type="submit">Submit</button></p>
        </form>
    {% endif %}
    </div>
    <script>
        $(document).ready(function() {
          $('.datepicker').datepicker({
            format: 'yyyy-mm-dd',
            autoclose: true,
          });

          $('.timepicker').timepicker({
            format: 'hh:ii:ss',
            autoclose: true,
            showMeridian: false,
          });

          $('.datetimepicker').datetimepicker({
            format: 'YYYY-MM-DD HH:mm:ss',
            showClear: true
          });
        });
      </script>
{% endblock %}

