{% extends "base.html" %}
{% load static %}
{% block content %}
    <h1>{{ title }}</h1>
    <div>{{ content | safe }}</div>
{% for form in form_list %}
    <div>
<form method="post" novalidate class="form-floating" action="{{ form.action }}">
  {% csrf_token %}
<input type="hidden" name="next" value="{{ form.next_page }}">
<h1>{{ form.form_title }}</h1>
    <span style="color: red; font-weight: bold">{{ form.non_field_errors }}</span>

  {% for hidden_field in form.hidden_fields %}
      <span style="color: red; font-weight: bold">{{ hidden_field.errors }}</span>
    {{ hidden_field }}
  {% endfor %}
  <table border="1">
    {% for field in form.visible_fields %}
      <tr>
        <th>{{ field.label_tag }}</th>
        <td>
          <span style="color: red; font-weight: bold">{{ field.errors }}</span>
          {{ field }}<br>
          {{ field.help_text }}
        </td>
      </tr>
    {% endfor %}
  </table>

<p class="button" style="padding-top: 15px"; ><button type="submit">Submit</button></p>

</form>
    </div>
    {% endfor %}
{% endblock %}