{% csrf_token %}
<input type="hidden" name="next" value="{{ form.next_page }}">
<h1>{{ form.form_title }}</h1>
<div class="row-form-errors">{{ form.non_field_errors }}</div>
{% for hidden_field in form.hidden_fields %}
  <div class="row-form-errors">{{ hidden_field.errors }}</div>
  {{ hidden_field }}
{% endfor %}
<div class="form-floating d-table">
  {% for field in form.visible_fields %}
      <div class="form-row d-table-row">
          <div class="form-label d-table-cell text-nowrap" style="vertical-align: top" onmouseover="{{ field.help_text }}">
              {{ field.label_tag }}
          </div>
          <div class="row-form-errors text-nowrap" style="vertical-align: top; color: red">{{ field.errors }}</div>
          <div class="form-control d-table-cell" style="vertical-align: top">{{ field }}</div>
      </div>
  {% endfor %}
</div>
