{% csrf_token %}
<input type="hidden" name="next" value="{{ form.next_page }}">
<h1>{{ form.form_title }}</h1>
    <span style="color: red; font-weight: bold">{{ form.non_field_errors }}</span>

  {% for hidden_field in form.hidden_fields %}
      <span style="color: red; font-weight: bold">{{ hidden_field.errors }}</span>
    {{ hidden_field }}
  {% endfor %}
  <table class="table-bordered" style="background-color: #ece7d0">
    {% for field in form.visible_fields %}
      <tr >
        <th style="vertical-align: top">{{ field.label_tag }}</th>
        <td>
          <span style="color: red; font-weight: bold">{{ field.errors }}</span>
          {{ field }}<br>
          <span class="small">{{ field.help_text }}</span>
        </td>
      </tr>
    {% endfor %}
  </table>
